<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944301822051-8ptpjuf636qhicdgnstu5d0r51eoiruc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944301822051-8ptpjuf636qhicdgnstu5d0r51eoiruc</string>
	<key>API_KEY</key>
	<string>AIzaSyBAvI4FvQfpJoqDMRPi6M0v4tAYlwLisUU</string>
	<key>GCM_SENDER_ID</key>
	<string>944301822051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnhernandez.IntagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-56131</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-56131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944301822051:ios:141931dab52cfc69126856</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-56131.firebaseio.com</string>
</dict>
</plist>